apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  labels:
    tier: front-end
    app: nginx
spec:
  replicas: 4
  selector: 
    matchLabels:
      app: myapp
      type: front-end
  template:
    metadata:
      name: nginx-pk
      labels:
        app: myapp
        type: front-end
    spec:
      containers:
      - name: myapp-container
        image: nginx
        
